@use "sass:map";

// Google fonts
// TODO: Remove unused fonts!
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;700&family=Inter:wght@300;400;700&family=JetBrains+Mono&family=Oi&family=Source+Sans+Pro:wght@300;400;700;900&family=Fredoka+One&display=swap');


// $main-font: "Inter";
$main-font: "Inter Tight";
// $main-font: "Source Sans Pro";

$mono-font: "JetBrains Mono";
$header-font: $main-font; 
$logo-font: $main-font;
$body-font: $main-font;

// raw colors
$alice-blue: #DBE4EE;
$black-coffee: #2F242C;
$blue-jeans: #208adb;
$feldgrau: #586F6B;
$french-blue: #1278C1;
$green-pigment: #55A05B;
$ghost-white: #F0EFF4;
$mango-tango: #ED7D3A;
$mint-cream: #E1EAE2;
$orange-yellow-crayola: #FFD16E;
$peach: #FFE4AA;
$iceberg: #81A4CD;
$international-orange-aerospace: #F05D23;
$old-burgundy: #3B252C;
$oxford-blue: #191F34;
$red-pigment: #F02424;
$space-cadet:#21283E;
$steel-blue: #3E7CB1;
$dark-sea-green: #7BB680;
$yale-blue: #054A91;

$image-box-color: rgba(0,0,0,0.32);

// technology colors
$ts-color: #3178c6;
$js-color: #f5dd30;
$sass-color: #cd6799;
$react-color: #61dafb;

/*
  I should expect the following: 
    - accent-color
    - accent-secondary
    - background-color
    - background-alt
    - text-color
    - text-alt
    - text-color-inverted - what do I use this for?
*/
$themes: (
  light: (
    accent-color: $blue-jeans,
    // accent-color: $french-blue,
    // accent-color: $red-pigment,
    accent-secondary: $green-pigment,
    background-color: $ghost-white,
    background-alt: $alice-blue,
    image-box-color: rgba(255,255,255,0.8),
    text-color: $black-coffee,
    text-alt: $black-coffee,
    text-color-inverted: $ghost-white,
    ),
  dark: (
    accent-color: $blue-jeans,
    accent-secondary: $peach,
    background-alt: $space-cadet,
    // background-alt: $oxford-blue,
    background-color: $oxford-blue,
    // background-color: $space-cadet,
    text-color: $ghost-white,
    text-alt: $alice-blue,
    text-color-inverted: $black-coffee,
    image-box-color: rgba(0,0,0,0.8),
  )
);

// assign colors to roles
$background-color: $ghost-white;
$background-alt: $alice-blue;
// $background-alt: $corn;
$text-color: $black-coffee;
// $text-alt: $dark-sienna;
$text-color-inverted: $ghost-white;
// $accent-color: $international-orange-aerospace;
$accent-color: $yale-blue;
// $accent-color: $dark-sienna;
// $accent-color: $corn;
// $accent-secondary: $

// various shared ui styling
$common-border-radius: 8px;
$common-border: 3px;
$common-line-height: 2.4rem;
$common-large-margin: 4rem;
$common-margin-bottom: 1.3rem;
$common-padding: 1.2rem;
$common-transition-time: 150ms;
$canvas-background-transition-time: 8000ms;

// ======
// mixins
// ======
@mixin accent-border {
  border-bottom: $common-border solid map.get($themes, "light", "background-alt");

  .dark & {
    border-bottom: $common-border solid map.get($themes, "dark", "background-alt");
  }
}

@mixin alt-background-for-inline-item {
  @include common-transitions();
  background-color: map.get($themes, "light", "background-alt");
  border-radius: $common-border-radius;
  border: 2px solid map.get($themes, "light", "background-alt");
  padding: .15em .2em;
  
  .dark & {
    background-color: map.get($themes, "dark", "background-alt");
    border: 2px solid map.get($themes, "dark", "background-alt");
  }
}

@mixin regular-background-for-inline-item {
  @include common-transitions();
  background-color: map.get($themes, "light", "background-color");
  border-radius: $common-border-radius;
  border: 2px solid map.get($themes, "light", "background-color");
  padding: .15em .2em;
  
  .dark & {
    background-color: map.get($themes, "dark", "background-color");
    border: 2px solid map.get($themes, "dark", "background-color");
  }
}

@mixin body-font {
  font-family: $body-font;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: $common-line-height;
}

@mixin common-transitions() {
  transition: 
    background-color $common-transition-time,
    border $common-transition-time,
    border-radius $common-transition-time,
    box-shadow $common-transition-time,
    color $common-transition-time,
    filter $common-transition-time,
    opacity $common-transition-time,
    padding $common-transition-time;
}

@mixin hero-canvas-background-transitions() {
  transition: 
    filter $canvas-background-transition-time,
    opacity $canvas-background-transition-time,
    transform $canvas-background-transition-time;

}

@mixin color-transitions() {
  transition: 
    background-color $common-transition-time,
    color $common-transition-time;
}
  
  // TODO: .... make sure this doesn't get too ridiculous
@mixin common-transitions-with-transform() {
  transition: 
    background-color $common-transition-time,
    border $common-transition-time,
    border-radius $common-transition-time,
    box-shadow $common-transition-time,
    color $common-transition-time,
    filter $common-transition-time,
    opacity $common-transition-time,
    // padding $common-transition-time,
    padding 500ms,
    transform $common-transition-time,
    width $common-transition-time;
}

@mixin hero-transitions() {
  $hero-transition-params: 350ms ease-in;
  transition: 
    box-shadow $hero-transition-params,
    filter $hero-transition-params,
    opacity $hero-transition-params,
    transform $hero-transition-params;
}

@mixin hide-nav-item-above-screen {
  height: 1px;
  opacity: 0;
  width: 1px;
  transform: translateY(-10rem);
}

@mixin margin-reset {
  margin: 0;
  margin-bottom: $common-margin-bottom;
}

@mixin responsive-widths {
  //375px
  width: 100%;

  //768px
  @media (min-width: 768px) {
    // margin: 0 auto;
    width: 768px;
  }
  //1280px
  @media (min-width: 1280px) {
    // width: 1280px;
  }
  //1920px
  @media (min-width: 1920px) {
    // width: 1920px;
  }
}

@mixin show-hidden-nav-item {
  height: initial;
  opacity: 1;
  transform: translateY(0rem);
  width: initial;
}


// ===============
// general styling
// ===============
* {
  box-sizing: border-box;
}

html {
  @include common-transitions();
  background-color: map.get($themes, "light", "background-color");
  // color: $text-color;
  color: map.get($themes, "light", "text-color");
  font-family: $main-font;

  &.dark {
    background-color: map.get($themes, "dark", "background-color");
    color: map.get($themes, "dark", "text-color");
  }
}

h1:not(#header-logo), h2, h3 {
  @include accent-border();
  @include common-transitions();
  color: map.get($themes, "light", "text-color");;
  // background-color: $accent-color;
  margin: 0;
  margin-bottom: $common-margin-bottom;
  // border-bottom: $common-border solid map.get($themes, "light", "background-alt");
  padding-bottom: .5rem;

  html.dark & {
    color: map.get($themes, "dark", "text-color");
  }
}

#page h1, h2, h3 {
  margin-top: 3rem;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

code:not( pre > code) {
  @include alt-background-for-inline-item();
  font-family: $mono-font;
  font-size: 1rem;
  font-weight: normal;
  color: map.get($themes, "light", "accent-color");
  
  .dark & {
    color: map.get($themes, "dark", "accent-color");
  }
}

.container-alt-bg code:not(pre > code) {
  @include regular-background-for-inline-item();
}

pre {
  width: 100%;

  @media (min-width: 1280px) {
    width: 125%;
    transform: translateX(-10%);
  }
}

a:not(.main-nav-link, .logo-link) {
  @include common-transitions();
  // border-radius: $common-border-radius;
  border: 2px solid transparent;
  border-bottom: 2px solid map.get($themes, "light", "background-alt");
  color: map.get($themes, "light", "accent-color");
  margin: 0 -.1em;
  padding: .15em .2em;
  text-decoration: none;
  
  .dark & {
    border-bottom: 2px solid map.get($themes, "dark", "background-alt");
    color: map.get($themes, "dark", "accent-color");
  }
  
  &:hover {
    @include alt-background-for-inline-item();
    color: map.get($themes, "light", "accent-color");
    
    .dark & {
      color: map.get($themes, "dark", "text-color");;
    }
  }

  .container-alt-bg &:hover {
    @include regular-background-for-inline-item();
  }

  &:active {
    color: $accent-color;
  }
}

ul:not(.main-nav, .small-nav), ol {
  @include margin-reset();
  // border-left: $common-border solid background-alt;
  // background-color: $background-alt;
  border-radius: $common-border-radius;
  margin-bottom: 0;
  padding: .6rem 2.4rem;
  // padding-left: 2.4rem;
}

li {
  @include body-font();
  line-height: 2.4rem;
  padding-left: .4rem;
}

li:not(.main-nav-list-item)::marker {
  @include common-transitions();
  color: map.get($themes, "light", "accent-color");
  font-weight: bold;

  .dark & {
    color: map.get($themes, "dark", "accent-color");
  }
}

p {
  @include body-font();
  @include margin-reset();
}

#image-box {
  @include common-transitions();
  align-items: center;
  background-color: map.get($themes, "light", "image-box-color");
  cursor: pointer;
  display: flex;
  height: 100vh;
  left: right;
  justify-content: center;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -100;

  .dark & {
    background-color: map.get($themes, "dark", "image-box-color");
  }
  
  &.active {
    opacity: 1;
    z-index: 100;
  }
}

#image-box-image {
  border-radius: $common-border-radius;
  margin: 0 auto;
  max-height: 100%;
  width: 100%;
  max-width: 1920px;
}


.image-wrapper {
  margin: $common-large-margin 0;
  width: 100%;
}

img:not(#image-box-image, #hero-image, .hero-technology-image) {
  @include common-transitions-with-transform();
  width: 100%;

  &:hover {
    border-radius: $common-border-radius;
    cursor: pointer;
    transform: scale(1.025);
  }

  @media (min-width: 1280px) {
    width: 125%;
    transform: translateX(-10%);

    &:hover {
      transform: scale(1.05) translateX(-10%);
    }
  }

}

.date-tag {
  @include common-transitions();
  @include alt-background-for-inline-item();
  background-color: map.get($themes, "light", "background-alt");
  border-radius: 2rem;
  color: map.get($themes, "light", "accent-color");
  font-size: .8rem;
  // TODO: Do I want to use $main-font instead?
  font-family: $mono-font;
  // font-family: $main-font;
  margin-right: .25rem;
  padding-left: .25rem;
  padding-right: .25rem;
  
  .dark & {
    background-color: map.get($themes, "dark", "background-alt");
    color: map.get($themes, "dark", "accent-color");
  }
}

.container-alt-bg .date-tag {
  @include regular-background-for-inline-item();
  // background-color: map.get($themes, "light", "background-color");

  // .dark & {
  //   background-color: map.get($themes, "dark", "background-");
  // }
}

.date-tag-icon  svg {
  // this is a little magic - I'm not a fan of this
  transform: scale(.6) translateY(.7rem);
}

.date-tag-string {
  height: 1rem;
}

// ==============
// header styling
// ==============
$hero-item-border: .5rem solid map.get($themes, "light", "background-alt");
$hero-item-border-dark: .5rem solid map.get($themes, "dark", "background-alt");

header {
  @include common-transitions();
  // @include responsive-widths();
  align-items: center;
  background-color: map.get($themes, "light", "background-color");
  // box-shadow: 0px 4px 8px map.get($themes, "light", "background-color");
  // border-top: 8px solid map.get($themes, "light", "accent-color");
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  
  .dark & {
    background-color: map.get($themes, "dark", "background-color");
    // box-shadow: 0px 4px 8px map.get($themes, "dark", "background-color");

  }

  &.scroll-at-top {
    background-color: transparent;
    
    .dark & {
      background-color: transparent;
    }
  }
}

.header-wrapper{
  margin: 0 auto;
  @include responsive-widths();
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 1280px) {
    width: 1024px;
  }
  //1920px
  @media (min-width: 1920px) {
    width: 1440px;
  }
}

#header-logo {
  font-family: "Inter";
  font-size: 1.8rem;
  // margin: .5rem 0 0;
  font-weight: bold;
  // width: 100%;
  // display: inline;
}

#hero-container {
  @include common-transitions();
  align-items: center;
  background-color: map.get($themes, "light", "background-alt");
  display: flex;
  // display: none;
  flex-direction: column;
  // max-height: 100vh;
  justify-content: center;
  min-height: 100vh;
  // padding: $common-padding;
  // padding-top: $body-top-padding;
  width: 100vw;
  
  .dark & {
    background-color: map.get($themes, "dark", "background-alt");
  }
}

#hero-content-wrapper {
  @include hero-transitions();
  // todo: fix to be responsive
  background: map.get($themes, "light", "background-color");
  border-radius: $common-border-radius;
  opacity: 100%;
  padding: 4rem 0;
  z-index: 1;

  //TODO: Do I like this? there aren't shadows in other places, it kind of ruins the flat 
  //  color palette.
  // box-shadow: 0px 16px 48px rgba(0,0,0,.1);
  
  width: 80%;
  //TODO: Control max widths responsively
  max-width: 1024px;
  
  .dark & {
    background: map.get($themes, "dark", "background-color");
  }

  &.hidden {
    box-shadow: 0px 4px 12px rgba(0,0,0,.1);
    opacity: 0%;
  }
}


#hero-intro {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  // TODO: maybe adjust these based on size?
  // padding-top: 4rem;
  padding-bottom: 4rem;
}

.hero-name {
  @include common-transitions();
  color: map.get($themes, "light", "accent-color");

  .dark & {
    color: map.get($themes, "dark", "accent-color");
  }
}

#hero-image-wrapper {
  // TODO: Include responsive sizing breakpoints
  align-self: center;
  width: 25%;
}


#hero-image {
  @include common-transitions();
  // border-radius: 500px;
  border-radius: 2.5rem;
  border: $hero-item-border;
  width: 100%;


  .dark & {
    border: $hero-item-border-dark;
  }
}

#hero-text {
  max-width: 50%;
}

#hero-arrow {
  color: map.get($themes, "light", "background-color");
  position: absolute;
  top: 85vh;
  // color: map.get($themes, "light", "background-alt");
}

#hero-background-canvas {
  @include hero-canvas-background-transitions();
  left: 0;
  opacity: .85;
  position: absolute;
  top: 0;
  z-index: 0;

  &.hidden {
    opacity: 0;
  }
}

#hero-technology-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 75%; // TODO: change this with responsive width pass
}

.hero-technology-card {
  @include common-transitions();
  align-items: center;
  background: #FF0000;
  // border-radius: $common-border-radius;
  border: $hero-item-border;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  max-height: 128px;
  min-height: 128px;
  max-width: 128px;
  min-width: 128px;
  object-fit: cover;


  .dark & {
    border: $hero-item-border-dark;
  }

  img {
    max-height: 128px;
    // min-height: 96px;
    // max-width: 128px;
    // min-width: 96px; 
    width: 80%;
  }

  &.javascript {
    background: $js-color;
  }
  
  &.typescript {
    background: $ts-color;
  }
  
  &.react {
    background: $react-color;
  }
  
  &.sass {
    background: $sass-color;
  }

  &.react img, &.sass img {
    filter: brightness(2.5);
  }

  &:hover {
  }
}

.logo-link{
  @include common-transitions();
  // color: $accent-color;
  // @include accent-border();
  border-color: transparent;
  color: map.get($themes, "light", "text-color");
  text-decoration: none;
  
  .dark & {
    color: map.get($themes, "dark", "text-color");
  }

  .container-alt-bg & {
    color: map.get($themes, "light", "background-color");
  }

  &:hover {
    // @include common-transitions();
    color: map.get($themes, "light", "accent-color");
    // @include accent-border();
    cursor: pointer;
    
    
    .dark & {
      color: map.get($themes, "dark", "accent-color");
    }
  }

  & svg {
    color: map.get($themes, "light", "accent-color");
    margin-right: .5rem;

    .dark & {
      color: map.get($themes, "dark", "accent-color");
    }
  }
}


// ===========
// nav styling
// ===========
.main-nav {
  list-style-type: none;
  display: inline-flex;
  padding: 0;

  & li {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    a { 
      text-decoration: none;
    }
  }
}

.small-nav {
  // @include hide-nav-item-above-screen();
  @include common-transitions-with-transform();
  @include show-hidden-nav-item();
  background-color: map.get($themes, "light", background-alt);
  border-radius: $common-border-radius;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  opacity: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 6.4rem;
  transform: translateY(-3rem);
  width: 100vw;
  z-index: -100;

  @media (min-width: 768px) {
    @include hide-nav-item-above-screen();
    display: inline-flex;
  }

  &.active {
    opacity: 1;
    transform: translateY(0);
    // z-index: 100;
  }
}

.small-nav-list-item {
  @include common-transitions();

  margin-left: 0;
  padding-left: 0;
  width: 10rem;
  text-align: center;


  & a {
    display: block;
    width: 100%;

    &:hover {
      background-color: map.get($themes, "light", "background-color");
    }
  }

}

.main-nav-list-item {
  @include common-transitions();
  // background-color: $background-alt;
  align-items: center;
  margin: 0 1rem 0 0;
  padding-left: 0;
  min-height: 3rem;
  justify-content: center;
  text-align: center;
  
  &:hover {
  }

  &.main-nav-link-wrapper {
    @include hide-nav-item-above-screen();

    @media (min-width: 768px) {
      @include show-hidden-nav-item();
      display: inline-flex;
    }
  }
}

.main-nav-link {
  @include common-transitions();
  // border: 2px solid transparent;
  border-radius: $common-border-radius;
  color: map.get($themes, "light", "text-color");
  display: inline-block;
  margin: -1rem 0;
  padding: .4rem 1.2rem;
  text-decoration: none;
  
  .dark & {
    color: map.get($themes, "dark", "text-color");
  }

  
  &:hover {
    // @include accent-border();
    color: map.get($themes, "light", "accent-color");
    background: map.get($themes, "light", "background-alt");

    .dark & {
      background: map.get($themes, "dark", "background-alt");
    }
    
    .scroll-at-top & {
      background: map.get($themes, "light", "background-color");
      
      .dark & {
        background: map.get($themes, "dark", "background-color");
      }
    }
  }
  
  &:active {
    color: map.get($themes, "light", "accent-color");
    
    .dark & {
      color: map.get($themes, "dark", "accent-color");
    }
  }

  &.active:not(&.active ~ &:hover) {
    @include accent-border();
    color: map.get($themes, "light", "accent-color");
    
    .dark & {
      color: map.get($themes, "light", "accent-color");
    }
  }
}

.main-nav-control {
  @include common-transitions-with-transform();
  // @include accent-border();
  align-items: center;
  // border-radius: 24px;
  border-color: transparent;
  border: $common-border;
  color: map.get($themes, "light", "accent-color");
  display: none;
  height: 2rem;
  opacity: 0;
  padding: .32rem;
  justify-content: center;
  transform: none;
  width: 2rem;
  
  &:hover {
    color: map.get($themes, "light", "text-color");
    cursor: pointer;
    
    .dark & {
      color: map.get($themes, "dark", "text-color");
    }
  }

  .dark & {
    color: map.get($themes, "dark", "accent-color");
  }

  &.active {
    opacity: 1;
    display: inline-flex;
  }

  &.toggle-menu {
    @include show-hidden-nav-item();
    @media (min-width: 768px) {
      @include hide-nav-item-above-screen();
    }
  }
}


// ============
// body styling
// ============
$body-top-padding: 7.5rem;
body {
  $body-offset-menu-active: rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  // padding-top: $body-top-padding;
  position: relative;
  transform: none;
  width: 100vw;

  // & > *:not(.non-header-body-wrapper), & > .non-header-body-wrapper > * {
  //   padding: $common-padding;
  // }

  &.menu-active {
    padding-top: calc($body-top-padding + $body-offset-menu-active);
  }
}

$content-container-vertical-padding: 3rem;

@mixin content-container-padding {
  padding-top: $content-container-vertical-padding;
  padding-bottom: $content-container-vertical-padding;
}

.content-container {
  @include common-transitions();
  // do I want to set this here?
  @include content-container-padding();
  // background: blue;

  &.container-alt-bg {
    @include common-transitions();
    background-color: map.get($themes, "light", "background-alt");

    .dark & {
      background-color: map.get($themes, "dark", "background-alt");
    }
  }
}

.content-wrapper {
  @include common-transitions();
  @include responsive-widths();
  // background: red;
  margin: 0 auto;
  padding: $common-padding;
}

#page-content {
  // margin: 0 auto;
  width: 100vw;
  
  // background-color: purple;
}



// TODO: Do I want to use this?
#page-controls {
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: calc(100vw - 768px);
}

// ====================
// ui component styling
// ====================
button {
  @include common-transitions();
  background-color: transparent;
  border: $common-border solid map.get($themes, "light", "background-alt");
  border-radius: $common-border-radius;
  // color: map.get($themes, "light", "accent-color");
  color: map.get($themes, "light", "text-color");
  font-family: $main-font;
  font-weight: bold;
  padding: .75rem 1rem;
    
  .dark & {
    border: $common-border solid map.get($themes, "dark", "background-alt");
    // color: map.get($themes, "dark", "accent-color");
    color: map.get($themes, "dark", "text-color");
  }
  
  &:hover {
    background-color: map.get($themes, "light", "background-alt");
    border-color: map.get($themes, "light", "background-alt");
    cursor: pointer;
    // color: map.get($themes, "light", "text-color");
    color: map.get($themes, "light", "accent-color");
  
    
    .dark & {
      background-color: map.get($themes, "dark", "background-alt");
      border-color: map.get($themes, "dark", "background-alt");
      cursor: pointer;
      // color: map.get($themes, "dark", "text-color");
      color: map.get($themes, "dark", "accent-color");
    }
  }

  &:active {
    color: $accent-color;
    filter: opacity(.8);
  }
}

.container-alt-bg button {
  border: $common-border solid map.get($themes, "light", "background-color");

  .dark & {
    border: $common-border solid map.get($themes, "dark", "background-color");
  }

  &:hover {
    background-color: map.get($themes, "light", "background-color");
    border-color: $common-border solid map.get($themes, "light", "background-color");
    
    .dark & {
      background-color: map.get($themes, "dark", "background-color");
    }
  }
}


// ==============
// footer styling
// ==============
footer {
  @include common-transitions();
  align-items: center;
  background-color: map.get($themes, "light", "background-alt");
  color: map.get($themes, "light", "text-color");
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-top: 2rem;
  text-align: center;
  width: 100%;
  
  .dark & {
    background-color: map.get($themes, "dark", "background-alt");
    color: map.get($themes, "dark", "text-color");
  }
  
  & p {
    // font-weight: bold;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: .8rem;
    margin: 0;
    width: 100%;
  }

  & a {
    align-items: center;
    display: inline-flex;
    
    
    & svg {
      padding-left: .32rem;
    }
  }
}

// ===========
// prism theme
// ===========
code[class*="language-"],
pre[class*="language-"] {
  @include color-transitions();
	color: $red-pigment;
	// text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: "JetBrains Mono", Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

  .dark & {
    color: $international-orange-aerospace;
  }

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre.language-yaml > code.language-yaml {
	color: $feldgrau;

  .dark & {
    color: map.get($themes, "dark", "text-alt");
  }
}

.token {
  @include color-transitions();
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	// margin: .5em 0;
  margin: $common-large-margin 0;
	overflow: auto;
	border-radius: $common-border-radius;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	// background: #1d1f21;
	background: map.get($themes, "light", "background-alt");
  
  .dark & {
    background: map.get($themes, "dark", "background-alt");
  }
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7C7C7C;
}

.token.punctuation {
  color: map.get($themes, "light", "text-color");
  
  .dark & {
    color: map.get($themes, "dark", "text-color");
  }
}

.namespace {
	opacity: .7;
}

.token.property,
.token.keyword,
.token.tag {
	// color: #96CBFE;
  color: map.get($themes, "light", "accent-color");
  
  .dark & {
    color: map.get($themes, "dark", "accent-color");
  }
}

.token.class-name {
	color: #FFFFB6;
	text-decoration: underline;
}

.token.boolean,
.token.constant {
	color: #99CC99;
}

.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.number {
	color: #FF73FD;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: $feldgrau;

  .dark & {
    color: map.get($themes, "dark", "text-alt");
  }
}

.token.variable {
	color: #C6C5FE;
}

.token.operator {
  color: map.get($themes, "light", "text-color");
  
  .dark & {
    color: map.get($themes, "dark", "text-color");
  }
}

.token.entity {
	color: #FFFFB6;
	cursor: help;
}

.token.url {
	color: #96CBFE;
}

.language-css .token.string,
.style .token.string {
	color: $feldgrau;
}

.token.atrule,
.token.attr-value {
	// color: #F9EE98;
  color: map.get($themes, "light", "accent-color");

  .dark & {
    color: map.get($themes, "dark", "accent-color");
  }
}

.token.function {
  color: $international-orange-aerospace;

  .dark & {
    color: $orange-yellow-crayola;
  }
}

.token.regex {
	color: #E9C062;
}

.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}